.carousel__wrapper {
  position: relative;
  width: 100%;
  height: 250px;
}
  
.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

.carousel__arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
}
  
.carousel__leftArrow {
  left: -5%;
}
  
.carousel__rightArrow {
  right: -5%;
}
 
.carousel__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:600px) {
  .carousel__leftArrowImage{
    display: none;
  }
  .carousel__rightArrowImage{
    display: none;
  }
  .carousel {
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
}
}

