@font-face {
  font-family: "Ubuntu-Bold";
  src: url("/src/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("/src/fonts/Ubuntu-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu-Regular',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
